<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://host.docker.internal:5432/tietokt?currentSchema=tietokt</property>
		<property name="hibernate.connection.username">tietokt</property>
		<property name="hibernate.connection.password">tietok123</property>
		<property name="hibernate.default_schema">tietok</property>
		<!-- <property name="hibernate.connection.url">${JDBC_URL}</property>
		<property name="hibernate.connection.username">${JDBC_USER}</property>
		<property name="hibernate.connection.password">${JDBC_PASSWORD}</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<mapping class="fi.liike.rest.Model.SovellusHistory"></mapping>
		<mapping class="fi.liike.rest.Model.SovellusUpdate"></mapping>
		<mapping class="fi.liike.rest.Model.SovellusHenkiloRooliHistory"></mapping>
		<mapping class="fi.liike.rest.Model.SovellusHenkiloRooli"></mapping>
		<mapping class="fi.liike.rest.Model.SovellusTemp"></mapping>
		<mapping class="fi.liike.rest.Model.JarjestelmaHenkiloRooliHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JarjestelmaHenkiloRooli"></mapping>
		<mapping class="fi.liike.rest.Model.JoinHenkiloRooliTable"></mapping>
		<mapping class="fi.liike.rest.Model.Rooli"></mapping>
		<mapping class="fi.liike.rest.Model.HenkiloTemp"></mapping>
		<mapping class="fi.liike.rest.Model.Henkilo"></mapping>
		<mapping class="fi.liike.rest.Model.Sovellus"></mapping>
		<mapping class="fi.liike.rest.Model.JoinJarjestelmaLinkkaus"></mapping>
		<mapping class="fi.liike.rest.Model.JoinJarjestelmaLinkkausHistory"></mapping>
		<mapping class="fi.liike.rest.Model.linkitys.LinkitysHierarkia"></mapping>
		<mapping class="fi.liike.rest.Model.Paatietoryhma"></mapping>
		<mapping class="fi.liike.rest.Model.PaatietoryhmaHistory"></mapping>
		<mapping class="fi.liike.rest.Model.Tietoryhma"></mapping>
		<mapping class="fi.liike.rest.Model.TietoryhmaHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietoryhmaPaatietoryhma"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietoryhmaPaatietoryhmaHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietoryhmaTietovaranto"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietoryhmaTietovarantoHistory"></mapping>
		<mapping class="fi.liike.rest.Model.LooginenTietovaranto"></mapping>
		<mapping class="fi.liike.rest.Model.LooginenTietovarantoHistory"></mapping>
		<mapping class="fi.liike.rest.Model.FyysinenTietovaranto"></mapping>
		<mapping class="fi.liike.rest.Model.FyysinenTietovarantoHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinLooginenFyysinen"></mapping>
		<mapping class="fi.liike.rest.Model.JoinLooginenFyysinenHistory"></mapping>
		<mapping class="fi.liike.rest.Model.Hierarkia"></mapping>
		<mapping class="fi.liike.rest.Model.MolekyyliHierarkia"></mapping>
		<mapping class="fi.liike.rest.Model.Jarjestelma"></mapping>
		<mapping class="fi.liike.rest.Model.JarjestelmaHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JarjestelmaKasite"></mapping>
		<mapping class="fi.liike.rest.Model.Tietolaji"></mapping>
		<mapping class="fi.liike.rest.Model.TietolajiHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietolajiLooginen"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietolajiLooginenHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietolajiTietoryhma"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietolajiTietoryhmaHistory"></mapping>
		<mapping class="fi.liike.rest.Model.Palvelu"></mapping>
		<mapping class="fi.liike.rest.Model.PalveluHistory"></mapping>
		<mapping class="fi.liike.rest.Model.PalveluKasite"></mapping>
		<mapping class="fi.liike.rest.Model.SovellusTemp$TestObj"></mapping>
		<mapping class="fi.liike.rest.Model.SovellusTemp$TestObjTemp"></mapping>
		<mapping class="fi.liike.rest.Model.SovellusImport"></mapping>
		<mapping class="fi.liike.rest.Model.TietojarjestelmapalveluFetch"></mapping>
		<mapping class="fi.liike.rest.Model.TietojarjestelmapalveluKasite"></mapping>
		<mapping class="fi.liike.rest.Model.TietojarjestelmapalveluHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietojarjestelmapalveluTietolaji"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietojarjestelmapalveluTietolajiHistory"></mapping>
		<mapping class="fi.liike.rest.Model.Tietojarjestelmapalvelu"></mapping>
		<mapping class="fi.liike.rest.Model.TietolajiKasite"></mapping>
		<mapping class="fi.liike.rest.Model.Tietoomaisuus"></mapping>
		<mapping class="fi.liike.rest.Model.TietoomaisuusKasite"></mapping>
		<mapping class="fi.liike.rest.Model.TietoomaisuusHistory"></mapping>
		<mapping class="fi.liike.rest.Model.TietoomaisuusFetch"></mapping>
		<mapping class="fi.liike.rest.Model.JoinJarjestelmaLooginen"></mapping>
		<mapping class="fi.liike.rest.Model.JoinJarjestelmaLooginenHistory"></mapping>
		<mapping class="fi.liike.rest.Model.LooginenKasite"></mapping>
		<mapping class="fi.liike.rest.Model.Tietovaranto"></mapping>
		<mapping class="fi.liike.rest.Model.TietovarantoHistory"></mapping>
		<mapping class="fi.liike.rest.Model.TietovarantoKasite"></mapping>
		<mapping class="fi.liike.rest.Model.Toimintaprosessi"></mapping>
		<mapping class="fi.liike.rest.Model.ToimintaprosessiHistory"></mapping>
		<mapping class="fi.liike.rest.Model.ToimintaprosessiKasite"></mapping>
		<mapping class="fi.liike.rest.Model.JoinToimintaprosessiTietovaranto"></mapping>
		<mapping class="fi.liike.rest.Model.JoinToimintaprosessiTietovarantoHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoYhteisrekisterinpitaja"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoYhteisrekisterinpitajaHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoRekisteroityRyhma"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoRekisteroityRyhmaHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoHenkilotietoRyhma"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoHenkilotietoRyhmaHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoTurvatoimenpide"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoTurvatoimenpideHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoKasittelynPeruste"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoKasittelynPerusteHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoYllapitoMuuTaho"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoYllapitoMuuTahoHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoVastaanottajaRyhma"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoVastaanottajaRyhmaHistory"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoTiedonohjaus"></mapping>
		<mapping class="fi.liike.rest.Model.JoinTietovarantoTiedonohjausHistory"></mapping>
		<mapping class="fi.liike.rest.Model.Organisaatio"></mapping>
		<mapping class="fi.liike.rest.Model.OrganisaatioHistory"></mapping>
		<mapping class="fi.liike.rest.Model.Tietosuojavastaava"></mapping>
		<mapping class="fi.liike.rest.Model.TietosuojavastaavaHistory"></mapping>
		<mapping class="fi.liike.rest.Model.Termilomake"></mapping>
		<mapping class="fi.liike.rest.Model.TermilomakeHistory"></mapping>
		<mapping class="fi.liike.rest.Model.TermilomakeJoinKoostumussuhteinenKasite"></mapping>
		<mapping class="fi.liike.rest.Model.TermilomakeJoinKoostumussuhteinenKasiteHistory"></mapping>
		<mapping class="fi.liike.rest.Model.TermilomakeJoinAssosiatiivinenKasite"></mapping>
		<mapping class="fi.liike.rest.Model.TermilomakeJoinAssosiatiivinenKasiteHistory"></mapping>
		<mapping class="fi.liike.rest.Model.TermilomakeJoinHierarkkinenKasite"></mapping>
		<mapping class="fi.liike.rest.Model.TermilomakeJoinHierarkkinenKasiteHistory"></mapping>

	</session-factory>
</hibernate-configuration>
